body {
	padding-top: 50px;
}

.heading_1 {
	font-size: 20px;
	border-bottom: 2px dotted black;
}

.heading_2 {
	font-size: 16px;
	color: gray;
}

.bold {
	font-weight: bold;
}

.red {
  color: red;
}

.dark-gray {
	background-color: #f8efc0;
}

.light-gray {
	background-color: #fcf8e3;
}

.hidden {
	display : none;
}

.width-70px {
	width: 70px;
}

.top-5px {
	padding-top: 5px;
}

.top-10px {
	padding-top: 10px;
}

.bottom-0px {
	margin-bottom: 0px;
}

.left-5px {
	margin-left: 5px;
}

.right-5px {
	margin-right: 5px;
}

.float-left {
	float: left;
}

.clear-both {
	clear: both;
}

